@import 'src/assets/styles/utils/mixins';

.sidebar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh; left: 0;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 999;


  @include lg-device {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 466px;
  }

  &:before {
    content: '';
    position: absolute;
    padding-bottom: 100%;
    margin: auto;
    width: 100%;
    height: 0;
    top: 0; right: 0; bottom: 0; left: 0;
    background: var(--main-font-color);
    transform: scale(0.04) translateY(9999px);
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;

    @include lg-device {
      top: 0;
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
      transform: scale(1);
      background: var(--sidebar-background);
    }
  }
}

.container {
  padding: 24px 16px;
  width: 100%;
  height: 100%;

  @include md-device {
    padding: 24px 36px;
  }

  @include lg-device {
    padding: 36px 64px;
  }
}

.sidebarItems {
  height: 100%;
  opacity: 0;
  margin-top: -100%;
  filter: blur(33px);

  @include lg-device {
    opacity: 1;
    margin-top: 0;
    filter: blur(0);
  }
}

.isSidebarHidden {
  -webkit-transition: top 0s 0.8s ease;
  -moz-transition: top 0s 0.8s ease;
  -ms-transition: top 0s 0.8s ease;
  -o-transition: top 0s 0.8s ease;
  transition: top 0s 0.8s ease;

  &:before {
    @include animation(menu-hide-animation 0.4s 0.4s ease-out backwards);

    @include lg-device {
      animation: none;
    }
  }

  .sidebarItems {
    @include animation(items-hide-animation 0.8s ease-out backwards);

    @include lg-device {
      animation: none;
    }
  }
}

.isSidebarVisible {
  top: 0;
  &:before {
    @include animation(menu-show-animation 1.2s ease-out forwards, filter-animation 0.8s 1s ease-out forwards);

    @include lg-device {
      animation: none;
    }
  }

  .sidebarItems {
    @include animation(items-appear-animation 0.8s 1s ease-out forwards);

    @include lg-device {
      animation: none;
    }
  }
}

.hideSidebar {
  @include lg-device {
    display: none;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 52px;
  color: var(--main-font-color);
  margin: 0;
}

@include keyframes(menu-show-animation) {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  10% { opacity: 1; }
  40% {
    background: var(--main-font-color);
    transform: scale(0.08) translateY(0);
  }
  60% { transform: scale(0.04) translateY(0px); }
  61% { background: var(--sidebar-background); }
  65% { transform: scale(0.08); }
  90% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
    background: var(--sidebar-background);
  }
}

@include keyframes(menu-hide-animation) {
  from {
    transform: scale(2);
    border-radius: 0;
    background: var(--sidebar-background);
    backdrop-filter: blur(25px);
    padding-bottom: 0;
    height: 100%;
  }
  5% { backdrop-filter: blur(0); }
  10% {
    height: 0;
    padding-bottom: 100%;
  }
  to {
    padding-bottom: 100%;
    height: 0;
    transform: scale(0);
    border-radius: 100%;
    background: var(--sidebar-background);
  }
}

@include keyframes(items-appear-animation) {
  from {
    opacity: 0;
    margin-top: -100%;
    filter: blur(33px);
  }
  20% {
    margin-top: 0;
    filter: blur(0);
  }
  40% {
    margin-top: 7px;
    filter: blur(0);
  }
  to {
    opacity: 1;
    margin-top: 0;
    filter: blur(0);
  }
}

@include keyframes(items-hide-animation) {
  from {
    opacity: 1;
    margin-top: 0;
    filter: blur(0);
  }
  20% {
    margin-top: 0;
    filter: blur(0)
  }
  40% {
    margin-top: 7px;
    filter: blur(0);
  }
  to {
    opacity: 0;
    margin-top: -100%;
    filter: blur(33px);
  }
}

@include keyframes(filter-animation) {
  from { backdrop-filter: blur(0px); }
  to { backdrop-filter: blur(25px); }
}
